body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 47px;
}

.h2
{
    font-size: 40px;
}
.orange{

    color: orange;
}
.flexibel-container{

display: flex;

margin-bottom: 150px;
}
.half-width {

    width: 50%;
    font-size: 18px;
    padding-left: 6%;
}
.half-width img {

    width: 80%;

}
.link-button {

    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{

    background-image: url(/image/top-banner.png);
    background-repeat: no-repeat;
}
.right-banner{

    background-image: url(/image/right-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-head{

    margin-left: auto;
}
.experiences{

    width: 40%;
    padding: 10px;
    margin-left: 5%;
    box-shadow: 10px 10px 10px gray;
    border-image: linear-gradient(red, yellow) ;
    border-left: 7px solid ;
    border-image-slice: 1;
    

}
.left-img{

    background-image: url(/image/left-banner.png);
    background-repeat: no-repeat;
}
footer{

    text-align: center;
}