@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

section{

    margin-bottom: 10%;
}
/* ============================================================================================================Header */

span{

    color: orange;
}

.container{

    width: 1300px;
    margin: 0 auto;
}

.flex{

    display: flex;
}

h1{

    font-size: 40px;
}
h3{

    font-size: 20px;
}
.sec1-title p{
    text-align: justify;
    margin-bottom: 10%;
    width: 61%;
}
a{

    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, rgba(233, 105, 20, 0.863));
    padding: 15px 40px;
    border-radius: 40px;
}
/* ============================================================================================================Header */


/* ============================================================================================================main */

.sec2-img{

    margin-right: 23%;
}

.sec2-title p{

    width: 88%;
    text-align: justify;
    margin-bottom: 10%;
}


/* ============================================================================================================main */


/* ============================================================================================================footer */

.text{

    text-align: center;
    background-color: antiquewhite;
}

.sec4-container{

    width: 1300px;
    margin: 0 auto;
}

.sec4-title p{

    width: 90%;
    text-align: justify;

}

.footer{
    
    text-align: center;
}

/* ============================================================================================================footer */